.filter {
    display: flex;
    flex-direction: column;
    flex-wrap: 10px;
}

.filterTitle {
    font-size: 25px;
    margin: 10px auto 10px 0px;
}
.inputField {
    width: 300px;
    height: 30px;
    font-size: 25px;
}
